/* google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700&display=swap");

/* box-sizing property*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(133deg, #d8d8d8, #000000);
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  color: #b92725;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo img {
  width: 60px;
  height: 60px;
}

.brand-logo img:hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.brand-logo-name {
  margin-left: 1rem;
  font-weight: 700;
}

.brand-logo-name span {
  color: black;
}

.title,
.subtitle {
  color: black;
}

.main-nav a {
  font-weight: 700;
  font-size: 1.5rem;
}

.main-nav ul,
.footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-width {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding-top: 20px;
}

.main-nav a,
.footer a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover,
.footer a:hover {
  color: rgb(221, 5, 5);
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 80px;
  min-height: 100px;
}

.footer {
  min-height: 70px;
  background-color: #202027;
  font-weight: bold;
}

.social-link img {
  width: 1.5em;
  margin-left: 0.25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  height: 100vh;
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 650px) {
.join-container {
  height: 100vh;
}
}

.title {
  font-weight: 700;
  font-size: 7em;
  line-height: 0.8;
  margin-top: 0;
  margin-bottom: 2rem;
}

.title span {
  color
}

.gradient-text {
  background-color: #ca4246;
  background-image: linear-gradient(90deg, #a72321, #941f1e, #821b1a, #6f1716);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-simple-animation-rev 1.5s ease forwards infinite;
}

/* .gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
} */

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* @keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
} */

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.subtitle-index {
  font-weight: 500;
  font-size: 2em;
  color: black;
}

.btn {
  font-weight: 600;
  color: black;
  background-image: linear-gradient(133deg, #941f1e, #6f1716);
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Crimson Pro", serif;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: rgb(221, 5, 5);
}

.btn:focus {
  background-color: rgb(221, 5, 5);
}

@media (max-width: 650px) {



  .main-header,
  .main-footer {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 60px;
  }

  .footer a {
    padding: 0;
  }

  .title {
    font-size: 5rem;
  }

  .main-nav li {
    display: none;
  }

  .brand-logo {
    margin-top: 20px;
  }
}

/* ----SIDE MENU ----- */
@media (min-width: 650px) {
  .main-nav span {
    display: none;
  }
}

.main-nav span {
  position: relative;
  left: 140px;
  bottom: 50px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(221, 5, 5);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
